// if lte IE 8
	script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
script(src='//code.jquery.com/jquery-2.0.3.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js') 
script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js') 
script(src='js/min/script.min.js') 
script(src='//apis.google.com/js/client.js?onload=setInitialize') 