!!! 5
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=yes')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title お薬一覧 : お薬手帳
    link(rel='stylesheet', type='text/css', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/custom.css')
  body#list
    nav.navbar.navbar-fixed-bottom
      .navbar-inner.clearfix
        ul.nav
          li
            a(href='index.html')
              span.glyphicon.glyphicon-calendar
              br
              | 今日のお薬
          li
            a(href='regist.html')
              span.glyphicon.glyphicon-pencil
              br
              | お薬を登録
          li
            a(href='list.html')
              span.glyphicon.glyphicon-list
              br
              | お薬一覧
          li
            a(href='profile.html')
              span.glyphicon.glyphicon-user
              br
              | プロフィール
    header
      h1 お薬手帳
      h2
        span.glyphicon.glyphicon-list
        | お薬一覧
    main.container
      table.table.table-hover.table-responsive
        thead
          tr
            th 処方日
            th 飲み方
            th 錠剤名
            th 量
            th 個数
            th 残数
            th 備考
            th 編集する
        tbody
          tr
            td 2014/1/1
            td 食前
            td ペニシリン
            td 10mg
            td 8個
            td 5個
            td 頭が痛いので処方された。
            td
              button.btn.btn-primary(type='submit')
                span.glyphicon.glyphicon-pencil
                | 編集
  /if lte IE 8
  script(src='http://code.jquery.com/jquery-2.0.3.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')
  script(src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  script(src='js/min/script.min.js')
  script(src='https://apis.google.com/js/client.js?onload=initialize')
